configfile: "config/config.yaml"

module [[ module_name ]]:
    snakefile:
        "https://github.com/kevinrue/snakemake_rnaseq_hisat2/raw/<release>/Snakefile"
    config:
        config

use rule * from [[ module_name ]]